<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973634869353-1ogc3o0srjcpfs54b1lc0sgtutil2119.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973634869353-1ogc3o0srjcpfs54b1lc0sgtutil2119</string>
	<key>API_KEY</key>
	<string>AIzaSyBnF9AT8uuh-mvws393Abn7sB2vCXlVkXE</string>
	<key>GCM_SENDER_ID</key>
	<string>973634869353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp</string>
	<key>PROJECT_ID</key>
	<string>notes-app-thulasirmn</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-thulasirmn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973634869353:ios:1a5fb83887413f69a16af8</string>
</dict>
</plist>